<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear</title>
</head>
<body>
<form method="post" th:action="@{/employee/guardar}">
    <label for="fname">Nombre</label><br>
    <input type="text" id="fname" name="territoryid"><br>

    <label for="lname">Apellido</label><br>
    <input type="text" id="lname" name="territorydescription" ><br><br>
    <label for="lname">Email</label><br>

    <label for="lname">Telefono</label><br>
    <input type="text" id="lname" name="territorydescription" ><br><br>
    <label for="lname">Trabajo</label><br>
    <input type="text" id="lname" name="territorydescription" ><br><br>
    <label for="lname">Salario</label><br>
    <input type="text" id="lname" name="territorydescription" ><br><br>
    <label for="lname">Jefe</label><br>
    <input type="text" id="lname" name="territorydescription" ><br><br>

    <label for="lname">Departamento</label><br>
    <input type="text" id="lname" name="territorydescription" ><br><br>


    <input type="text"  name="regionid" ><br><br>
    <input type="submit" value="Registrar">

</form>
</body>
</html>